*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
   }
.sign1{
  padding: 20px 30px;
}
  body {  
  background-image: url('flight3.jpg');  
  background-repeat: no-repeat;
  background-size: 1600px 950px;
}
.sign1
input[type=text], input[type=password],input[type=repeatpassword]
{
 height:60px; 
 width: 50%;
 background: transparent;
 border: none;
 outline: none;
 border: 2px solid red;
 border-radius: 120px;
 size: 5px;
 padding: 15px;
 margin: 7px 0 30px 0;
 display: inline-block;
 border: none;
 border: 2px solid rgba(11, 8, 8, 0.944);
}
::placeholder {
  color: rgb(3, 5, 0);
  opacity: 1; 
}
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 15%;
  opacity: 0.9;
}
.signupbutton{
 padding:12px 9px;
 background-color:rgb(163, 12, 123);
 border-radius: 100px;
}
{
 .signupbutton {
  float:left;
  width: 50%;
  
}
}
.loginbutton{
 padding:4px 7px;
 background-color:rgb(115, 7, 11);
}
}
.loginbutton{
   float:center;
   width:70;
   border-radius: 100px;
}
.sign1 {
  padding: 10px;
  
}
.login1{
  text-decoration: underline;

}
.signupbutton {
  background-color:rgb(10, 1, 1);
}
.signupbutton:hover{
  background-color: red;

}